body {
    margin: 0;
    font-family: 'Spectral';
    overflow-x: hidden;
    line-height: normal;
  }

  a {
    color:rgb(119, 134, 119);
    text-decoration: none;
    target-name:new;
    target-new:tab;
  }

  ul:not(.navbar) {
    list-style-type: none;
  }

  ul:not(.navbar):not(.blank) li::marker {
    list-style-type: none;
    color: rgb(119, 134, 119);
    font-size: .8em;
    content: "\25C7     ";
  }

  ul.blank {
    list-style-type: none;
    margin-left:-1em;
    margin-bottom:.5em;
  }
  ul.blank li::marker{
    list-style-type: none;
    content: "";
  }

  .sc {
    font-variant:small-caps;
    font-size:120%;
  }

  .top-container {
    width:100vw;
    font-family: 'Spectral SC';
    /*background-image: url("https://media.giphy.com/media/3oEjI2GUZ3RffMInja/giphy.gif");*/
    background-color: #F3FAFE; /* Used if the image is unavailable */
    height: 150px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 1%;
    padding-top:30px;
    text-align: center;
    vertical-align: middle;
  }

  .header {
    height: 50px;
    width:100vw;
    font-family: 'Spectral SC';
    padding: 6px 0px; /*top/bottom right/left*/
    /*background-image: linear-gradient(white, #fefefe);*/
    background-color: rgba(255, 255, 255, .97);;
    color: black;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 5px 5px #f7f7f7;
    z-index: 5;
  }

  .content {
    margin: auto;
    width: calc(100vw - 6em);
    max-width: 1000px;
    padding: 16px;
    z-index:-1;
    /*justify-content:center;*/
  }

  .container {
    margin: auto;
    /*width: calc(100vw - 6em);
    /*max-width: 900px;*/
    padding: 16px;
    z-index:-1;
    /*justify-content:center;*/
  }

  .papertitle {
    font-weight: normal;
    margin-top:1.5em;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 90px;
  }
  .sticky + .container {
    padding-top: 90px;
  }
  .vl{
    border-left: 3px solid rgb(180, 201, 180);
  }

  /*navigation bar style*/
    .navbar {
      z-index: 1;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;}

    #outer {
        float: right;
        position: relative;
        left: -50%;}

    #inner {
        position: relative;
        left: 50%;}

    #inner > li {
        float: left;}

    /*li {
      float: left;
    }*/

    li a.navvbar {
      display: inline-block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

    }

    li a.navvbar:not(.active) {
      color: #88aaaa;
    }

    li a.navvbar:hover:not(.active) {
      color: #99cccc;
    }

    li a:hover:not(.active) {
      color: rgb(144, 187, 144);
    }

    .active {
      color: black;
      font-weight: bold;
    }

    hr {
      height:3px;
      border:none;
      background-color: rgb(232, 232, 232);
      display: inline-block;
      text-align: center;
      margin-bottom: .25em;
    }

    .tog-claps {
      float: left;
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      align-items: center;
      font-size: 18pt;
      font-weight: 900;
      color:rgb(119, 134, 119);
      text-shadow: 0px 0px rgb(57, 57, 57);
      transition: transform .15s;
      position: relative;
      left: -.5em;
      margin-right: -.5em;
      bottom: calc(1em / 3);
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      z-index:2;
      overflow:visible;
    }

    .tog-claps:before {
      content: "›";
    }

    .bebe {
      max-width:calc(100% - 1.5em);
      float:left;
      text-align:left;
      text-shadow: 0px 0px 4px white;
      overflow:visible;
      /*clip-path: polygon(0 0, calc(100% - 8em) 0, calc(100% - 8em) 8em, 100% 8em, 100% 100%, 0 100%);
      shape-outside: polygon(0 0, calc(100% - 8em) 0, calc(100% - 8em) 8em, 100% 8em, 100% 100%, 0 100%);*/
      /*transition: max-height .15s;*/
    }

    .ganz {
      position:relative;
      top:0;
      max-height:0;
      width:100%;
      overflow:hidden;
      /*transition: max-height .1s;*/
    }

    .bypic {
      width:calc(100% - 6em);
      top:1em;
      float:right;
    }

    .expanded {
      /*transition: max-height .01s;*/
    }

    .tog-claps:hover:not(.rotated-tog-claps) {
      text-shadow: 0px 0px 7px rgb(102, 192, 170);
      /*color: rgb(102, 192, 170);
      border-radius: 50%;
      border: 1px solid rgb(42, 70, 63);
      text-shadow: 0px 0px 4px rgb(42, 70, 63);*/
    }

    .rotated-tog-claps:hover:not(.nobabies) {
      /*color: rgb(119, 134, 119);
      border-radius: 50%;
      border: 1px solid rgb(42, 70, 63);*/
      text-shadow: 0px 0px 1px rgb(42, 70, 63);
      /*text-shadow: 0px 0px 7px rgb(102, 192, 170);*/
    }

    .rotated-tog-claps {
        transform: rotate(90deg);
        color: rgb(237, 245, 243);
        text-shadow: 0px 0px 0px rgb(57, 57, 57);
    }

    .nobabies {
      color:white;
      text-shadow:none;
      cursor:arrow;
      z-index:-2;
    }


    details summary {
      cursor: pointer;
    }
    details summary > * {
      display: inline;
    }
    details > *:not(summary) {
          width: calc(100% - 1.5em);
          text-align: left;
          /*align-items: right;*/
          position: relative;
          left: 1em;
          margin-top:.5em;
          margin-bottom:0em;
          /*line-height: 130%;

          /*margin-right: -.5em;
          bottom: calc(1em / 3);
          cursor: pointer;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          z-index:2;
          overflow:visible;*/
        }
    details p {
      margin-top:.5em;
      margin-bottom:0em;
    }
    details ul {
      line-height:150%;
    }
    details > summary {
      list-style-type: none;
      }
    details > summary::-webkit-details-marker {
        display: none;
    }
    details > summary::before {
      content: '›';
      float: left;
      width: .7em;
      /*height: 1em;*/
      text-align: center ;
      /*align-items: center;*/
      font-size: 18pt;
      font-weight: 900;
      color:rgb(119, 134, 119);
      text-shadow: 0px 0px rgb(57, 57, 57);
      transition: transform .15s;
      position: relative;
      top: -.3em;
      left:-.1em;
      margin-bottom: -.5em;
      /*bottom: calc(1em / 3);
      /*cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      z-index:2;*/
      overflow:visible;
    }
    details[open] > summary::before {
      -webkit-transform: rotate(90deg);
      color: rgb(149, 168, 149);
      text-shadow: 0px 0px 0px rgb(57, 57, 57);
    }
    details > summary:hover::before {
      text-shadow: 0px 0px 7px rgb(102, 192, 170);
    }
    details[open] > summary:hover::before {
      text-shadow: 0px 0px 5px rgb(57, 57, 57);
      color: rgb(119, 134, 119);
      /*border-radius: 25%;
      text-shadow: 0px 0px 4px rgb(42, 70, 63);*/
    }

    .bottom-name-tag {
      position:fixed;
      bottom:0;
      left:0;
      padding:.5em .75em;
      font-family:'Spectral SC';
      font-size:8pt;
      display:inline-block;
      text-align:left;
      background-color: rgba(255, 255, 255, .925);
      box-shadow:0px 0px 5px 10px rgba(255, 255, 255, .9);
      font-weight:900;
      z-index:3;
    }

    /*.paperpic {
      width:4.5em;
      height:auto;
      max-height:0;
      overflow:visible;
      transition: opacity 1s;
      transition: max-height .5s;
      transition: height .5s;
      transition: width .5s;
      transition: position .5s;
      z-index:2;
    }*/
    .paperpic{
      height:100%;
      width:auto;
      overflow:visible;
      border-radius: 50px;
    }

    .unfadeypic {
      opacity:1;
      transition: opacity 1s;
    }

    .fadeybiggerpic {
      opacity:.3;
      transition: opacity 1s;
      /*width: 10em;
      height: 10em;*/
    }

    /*.paperpicdiv {
      height:5em;
      width:5em;
      float:right;
      position:relative;
      top:-2em;
      transition: max-height .1s;
      margin-bottom:-100%;
      overflow:visible;
      /*clip-path:circle();
      shape-outside:circle();
    }*/
    .paperpicdiv {
      height:2em;
      width:2em;
      border-radius:1em;
      float:left;
      position:relative;
      top:-.25em;
      left:-3.5em;
      margin-bottom:-100%;
      overflow:visible;
      transition: .15s;
    }

    .paperpicdiv:hover {
      -webkit-box-shadow: 0 0 5px 5px rgba(102, 192, 170, .3);
      -moz-box-shadow: 0 0 5px 5px rgba(102, 192, 170, .3);
      box-shadow: 0 0 5px 5px rgba(102, 192, 170, .3);
    }

    details[open] > summary > .paperpicdiv {
      width:5.5em;
      height:5.5em;
      min-width:3em;
      min-height:3em;
      max-width:5.5em;
      max-height:5.5em;
      border-radius:2.75em;
      float:left;
      position:relative;
      top:2em;
      left:-7.125em;
    }
    details[open] > summary > .paperpicdiv:hover {
      -webkit-box-shadow: 0 0 3px 3px rgba(102,192,170, .25);
      -moz-box-shadow: 0 0 3px 3px rgba(102,192,170, .25);
      box-shadow: 0 0 3px 3px rgba(102,192,170, .25);
    }

    .biggerpicdiv {
      width: 5em;
      height: auto;
    }
